{% layout none %}
{% include 'header' %}

<h1>Custom Cart Page</h1>

{% for item in cart.items %}
  <p>{{ item.title }} - {{ item.price | money }}</p>
{% endfor %}

<!-- Additional customization can be added here -->

{% include 'footer' %}
